<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
   <!-- Bootstrap -->
	
 <!-- Required meta tags -->
    <meta charset="utf-8">
    


    <link rel="stylesheet" type="text/css" href="/css/style.css">
     <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
     <link rel="stylesheet" th:href="@{/css/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"  src="/js/main.js"></script>
    
	<title>Sign Up</title>
</head>


<body>

	<div class="container">
	
		<h3>Sign Up</h3>
		<hr>
	
		
		<p class="h4 mb-4">Save User</p>
		
		
		
		
	
		<form action="#" th:action="/register"
						 th:object="${user}" method="POST">
		
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
					
				<div class="text text-danger" th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}">
				</div>

			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="name">
					
					
				<div class="text text-danger" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">
				</div>

			<input type="text" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="password">
					<div class="text text-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}">
					
					</div>
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		
		<a th:href="@{/hello}" class="btn btn-info col-3">Back to Employees List</a>
		
	</div>
	
	<hr/>
	
</body>

</html>










