@charset "utf-8";

/*CSS Document */

body{
	margin: 0;
	padding: 0;

}

.banner{
	background: url(../images/b1.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	
}

header{
	padding: 5px 30px 0px;
	background-color: rgba(255,255,255,0.6);
	
}

.hat{
	float: left;
	display: inline-block;

}

.title-color{
	text-transform:uppercase;
	color: #ff4181;
	
}

.search_my{
	float: right;
	border:3px #000 solid;
	
}

.search1{
	border: none;
	background-color:none;
	width: 150px;
	background-color: transparent;
}
.button1{
	color: #fff;
	background-color: #000;
	border: none;
	height: 40px;
	width: 40px;
	
}









